<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzUozfRmHKOPsqCMIAmC1_IR3sEXfA8dU</string>
	<key>GCM_SENDER_ID</key>
	<string>160263249126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huseyinemanet.quotify</string>
	<key>PROJECT_ID</key>
	<string>quotify-5d960</string>
	<key>STORAGE_BUCKET</key>
	<string>quotify-5d960.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160263249126:ios:60d0cc6bd6235d05dd6f27</string>
</dict>
</plist>